*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
}
.header .header-itens a {
    padding: 10px;
}

.header .header-icon img {
   display: inline;
   width: 20px;
   height: 20px;
}

.header .header-profile{
    position: relative;
    justify-content: center;
    align-self: center;
}

.header .header-profile .profile-pic {
    width: 38.5px;
    height: 38.5px;
    border-radius: 20px;
}

.header .header-profile .profile-pic-frame {
    position: absolute;
    top: 0;
    left: 0;
}

 input, button, a{
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;

}

a:hover{
    text-decoration: underline;
}